* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    display: flex;
    justify-content: center;
    max-width: 100%;
    overflow-x: auto;
    background-color: rgba(0, 0, 0, .6);
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#pinboard {
    display: list-item;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    margin: 2vh 2vw 2vh;
    width: 96vw;
    max-width: 1200px;
    height: 96vh;
    background-image:
        radial-gradient(transparent 10%, transparent 10%,rgb(0,0,0) 160%),
        url("../img/abcde.jpg");
    background-size: cover;
    background-position: left top;
    border: 2vh solid transparent;
    border-image-slice: 27 27 27 27;
    border-image-width: 2vh;
    border-image-outset: 0;
    border-image-repeat: round round;
    border-image-source: url("../img/wooden-frame.jpg");
    box-shadow: 0 0 1.5vw rgba(0, 0, 0, 1);
    transition: all 100ms ease-in-out;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#infos {
    display: flex;
    justify-content: space-between;
    padding: .5vh;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#foto-perfil {
    margin: auto;
    max-height: 124px;
    box-shadow: .2vw .1vh 1vh rgba(0, 0, 0, .7);
    transition: all 200ms ease-in-out;
}
#foto-perfil:hover {
    box-shadow: .2vw .1vh 2vh rgba(0, 0, 0, 1);
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#descricao {
    height: 22vw;
    margin: auto;
    padding: 0vh 1vw 0vh 2vw;
    opacity: 0.84;
    background-color: rgba(0, 0, 0, 0.2);
    text-shadow: 0 0 .4vh rgba(0, 0, 0, 0.7);
    box-shadow: .2vw .1vh 1vh rgba(0, 0, 0, 0.7);
    border: solid .1vh rgba(0, 0, 0, .2);
    transition: all 200ms ease-in-out;
}
#descricao:hover {
    box-shadow: .2vw .1vh 2vh rgba(0, 0, 0, 1);
}
#nome-completo {
    font-size: 2.6vw;
}
#programador {
    margin-top: 1vh;
    font-size: 2.1vw;
}
#lista-programador {
    margin: 1vh;
    font-size: 2vw;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#curriculo {
    margin: auto;
    padding: 0 1vh 1vh 1vw;
    display: flex;
    justify-content: center;
    height: 22vw;
    max-height: 300px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: .2vw .1vh 1vh rgba(0, 0, 0, 0.7);
    border: solid .1vh rgba(0, 0, 0, .2);
    transition: all 200ms ease-in-out;
}
#curriculo:hover {
    box-shadow: .2vw .1vh 2vh rgba(0, 0, 0, 1);
}
#curriculo legend {
    font-size: 2.5vw;
    text-shadow: 0vw 0vh 1vh rgba(255, 255, 255, 0.4);
}
#pdf-link {
    margin: 1vh 1vw;
}
#pdf-icon {
    height: auto;
    width: 10vw;
    max-height: 200px;
    max-width: 150px;
    opacity: .6;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#sites {
    display: list-item;
    justify-content: space-evenly;
    padding: 3vh;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#legenda-links {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 40%;
    padding: 1vh;
    background-color: rgba(0, 0, 0, 0.2);
    text-shadow: 0 0 .4vh rgba(0, 0, 0, 0.7);
    border: solid .1vh rgba(0, 0, 0, .2);
    box-shadow: .2vw .1vh 1vh rgba(0, 0, 0, 0.7);
    transition: all 200ms ease-in-out;
}
#legenda-links legend {
    text-shadow: 0vw 0vh 1vh rgba(255, 255, 255, 0.4);
}
#legenda-links:hover {
    box-shadow: .2vw .1vh 2vh rgba(0, 0, 0, 1);
}
#imagem-links {
    height: 18vh;
    box-shadow: 0vw 0.1vh 1vh rgba(0, 0, 0, 0.8);
    transition: all 200ms ease-in-out;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#legenda-form-tables {
    display: flex;
    justify-content: center;
    margin: 2vh auto;
    width: 40%;
    padding: 1vh;
    background-color: rgba(0, 0, 0, 0.2);
    text-shadow: 0 0 .4vh rgba(0, 0, 0, 0.7);
    border: solid .1vh rgba(0, 0, 0, .2);
    box-shadow: .2vw .1vh 1vh rgba(0, 0, 0, 0.7);
    transition: all 200ms ease-in-out;
}
#legenda-form-tables legend {
    text-shadow: 0vw 0vh 1vh rgba(255, 255, 255, 0.4);
}
#legenda-form-tables:hover {
    box-shadow: .2vw .1vh 2vh rgba(0, 0, 0, 1);
}
#imagem-form-tables {
    height: 18vh;
    box-shadow: 0vw 0vh 1vh rgba(0, 0, 0, 0.8);
    transition: all 200ms ease-in-out;
}