* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    display: flex;
    justify-content: center;
    max-width: 100%;
    overflow-x: auto;
    background-color: rgba(0, 0, 0, .8);
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#pinboard {
    overflow-x: auto;
    margin: 2vh 1vh 2vh;
    padding: 1% 0;
    width: 96vw;
    max-width: 1200px;
    height: 96vh;
    background-image:
        radial-gradient(transparent 10%, transparent 10%,rgb(0,0,0) 160%),
        url("../img/abcde.jpg");
    background-size: cover;
    background-position: left top;
    border: 2vh solid transparent;
    border-image-slice: 27 27 27 27;
    border-image-width: 2vh;
    border-image-outset: 0;
    border-image-repeat: round round;
    border-image-source: url("../img/wooden-frame.jpg");
    box-shadow: 0 0 1.5vw rgba(0, 0, 0, 1);
    transition: all 100ms ease-in-out;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#infos {
    display: flex;
    justify-content: space-between;
    padding: 0 1%;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#frame-foto {
    display: flex;
    justify-content: top left;
}
.foto-pin {
    position: relative;
    top: 0;
    left: -8vw;
    height: 3vw;
    background-image: radial-gradient(rgba(0,0,0,.5) 40%, transparent 76%, transparent 60%);
}
#foto-perfil {
    margin: 1vh 0vh 1vh;
    height: 4vh;
    width: 4vw;
    box-shadow: 0vw 0vh 1.4vh rgba(0, 0, 0, 1);
}

#descricao {
    height: 50%;
    padding: 0vh 1vw 0vh 2vw;
    opacity: .84;
    border: solid .1vh rgba(0, 0, 0, .2);
    background-color: rgba(0, 0, 0, .1);
    text-shadow: 0 0 .4vh rgba(0, 0, 0, .7);
    box-shadow: .2vw .1vh 1vh rgba(0, 0, 0, .7);
    transition: all 200ms ease-in-out;
}
#descricao:hover {
    box-shadow: .2vw .1vh 2vh rgba(0, 0, 0, 1);
}
#nome-completo {
    font-size: 2.6vw;
}
#ocupacao {
    margin: 1vh;
    font-size: 2.2vw;
}
#lista-ocupacao {
    margin: 1vh;
    font-size: 2vw;
}

#curriculo {
    margin: 2vh 1vw;
    padding: 1vw;
    display: flex;
    justify-content: center;
    height: 10%;
    width: 18vw;
    max-height: 300px;
    max-width: 900px;
    background-color: rgba(0, 0, 0, .1);
    box-shadow: .2vw .1vh 1vh rgba(0, 0, 0, .7);
    border: solid .1vh rgba(0, 0, 0, .2);
    transition: all 200ms ease-in-out;
}
#curriculo:hover {
    box-shadow: .2vw .1vh 2vh rgba(0, 0, 0, 1);
}
#curriculo legend {
    font-size: 2.5vw;
    text-shadow: 0vw 0vh 1vh rgba(255, 255, 255, 0.4);
}
#pdf-link {
    margin: 1vh 1vw;
}
#pdf-icon {
    height: auto;
    width: 10vw;
}