/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Estilos para telas entre 992px e 1200px */
/*@media screen and (max-width: 1200px) {

    #secoes {
        margin: auto 1.4rem;
    }
}

/* Estilos para telas entre 768px e 991px */
/*@media screen and (max-width: 991px) {

    .menu-item a {
        font-size: 2.4rem;
    }

    #texto-geral {
        font-size: 1.6rem;
    }

    .destaque {
        font-size: 1.8rem;
    }

    .topico {
        font-size: 1.8rem;
    }

    .detalhes li {
        font-size: 1.7rem;
    }
}

/* Estilos para telas entre 600px e 767px */
/*@media screen and (max-width: 767px) {
    #apresentacao-geral {
        flex-direction: column;
    }
}

/* Estilos para telas menores que 600px */
/*@media screen and (max-width: 600px) {
    .menu-item a {
        font-size: 1.8rem;
    }

    #infos {
        font-size: 1.3rem;
    }

    #texto-geral {
        font-size: 1.6rem;
    }

    .destaque {
        font-size: 1.7rem;
    }

    .topico {
        font-size: 1.7rem;
    }

    .detalhes li {
        font-size: 1.5rem;
    }
}

/* Estilos para telas menores que 480px */

/*@media screen and (max-width: 480px) {
    #secoes {
        flex-direction: column;
    }

    .menu-item {
        margin: max(1.2vh, 1.2vw);
    }

    .menu-item a {
        font-size: 1.8rem;
    }

    .menu-item a::before {
        width: min(.5vh, .5vw);
    }

    .menu-item a::after {
        height: min(.5vh, .5vw);
    }

    #geral {
        width: 90%;
    }

    .topico {
        font-size: 1.6rem;
    }

    .detalhes li {
        font-size: 1.3rem;
    }
}